# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Database files
api/db/*

# Coverage directory used by tools like istanbul
coverage

# Dependency directory
node_modules

# Build file
static

# Others
*~
npm-debug.log
